svg {
    border: 1px solid #333;
}

.background {
  fill: white;
}

.land {
  fill: #ddd;
  stroke: none;
}

.boundary {
  fill: none;
  stroke: white;
}

.country-point {
  fill: white;
  stroke: #888;
}

text.label {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 8px;
}

.idea {
    stroke-width: 1.5px;
    fill: none;
    opacity: 0.75;
}
