@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);

body {
  background-color: black;
}

svg {
  border: 1px solid #ccc;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.background {
  fill: black;
}

.land {
  fill: none;
  stroke: darkblue;
}

.boundary {
  fill: none;
  stroke: darkblue;
}

.country-point {
  fill: none;
  stroke: none;
}

text.label {
    font-family: 'Press Start 2P', cursive;
    font-size: 6pt;
    fill: #ccc;
    stroke: none;
}

.idea {
    stroke: rgba(255, 0, 0, 0.4);
    stroke-width: 1px;
    fill: none;
}
