.background {
  fill: #a4bac7;
}

.foreground {
  fill: none;
  stroke: #333;
  stroke-width: 1.5px;
}

.graticule {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}

.graticule :nth-child(2n) {
  stroke-dasharray: 2,2;
}

.land {
  fill: #d7c7ad;
  stroke: #766951;
}

.boundary {
  fill: none;
  stroke: #a5967e;
}

.country-point {
  fill: steelblue;
}

text.label {
    font-family: Arial, sans-serif;
    font-size: 8px;
}

.idea {
    stroke: rgba(0, 0, 0, 0.1);
    stroke-width: 2px;
}
